.clock {
    width: 300px;
    text-align: center;
    border:1px solid #ccc;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
        }
.contentclock {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
body {
    background-image: url(../fotos/pack.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: #fff;
    height: 700px;
}
button {
    background-color: pink;
    color: purple !important;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold !important;
    border: 2px solid purple;
}
.day {
    font-weight: bold;
    font-size: 20px;
}
.ventana {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(2, 14, 23, 0.53);
    display: none;
    top: 0;
    left: 0;
    opacity: 1;
}
.vt {
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 400px;
    text-align: center;
    margin-left: 450px;
    margin-top: 130px;
}
a {
    color: purple !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.marcador {
    margin-top: 5%;
}
.special {
    font-size: 20px;
    margin-top: 5%;
    font-weight: bold !important;
}